{
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "arrowParens": "avoid",
  "printWidth": 120
}
